<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUIKitDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F53FD5372E4C5DF700F2535A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53FD54D2E4C5DF900F2535A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53FD5572E4C5DF900F2535A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
